<nav class="fixed top-0 left-0 right-0 z-10 flex items-center justify-between bg-gray-900 p-4">
    <div class="text-white text-xl font-bold">XDen</div>
    <ul class="flex space-x-4">
        <li><a href="/login" class="text-white hover:text-gray-300">Login</a></li>
        <li><a href="/register" class="text-white hover:text-gray-300">Sign Up</a></li>
    </ul>
</nav>
