/* Resetting default margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
 
}

/* Navbar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Ensure navbar is above other content */
}



.navbar-left {
  float: left;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  user-select: none; /* Prevent text selection */
}


.navbar-right {
  float: right;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline-block;
  margin-right: 20px;
}

.navbar-links li a {
  text-decoration: none;
  color: #fff;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 120px;
  z-index: 1;
}

.dropdown-content li {
  display: block;
}

.dropdown-content li a {
  padding: 10px 15px;
  display: block;
  color: #fff;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.feeds {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feed {
  width: 80%;
  max-width: 600px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feed-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.feed-header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.feed-content {
  text-align: justify;
}
.feed-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  margin-bottom: 10px;
}
.feed-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.username {
  font-size: 14px;
}